.normal{
    font-family: 'Lacquer';
    font-size: medium;
}
.grande1{
    font-family: 'Lacquer';
    font-size: x-large;
}
.grande2{
    font-family: 'Lacquer';
    font-size:xx-large;
}
.normala{
    font-family: 'Marck Script';
    font-size: small;
}
.grande1a{
    font-family: 'Marck Script';
    font-size: x-large;
}
.grande2a{
    font-family: 'Marck Script';
    font-size:xx-large;
}
